@page "/"
@inherits EmployeeListBase


<div class="bg-light">
    <div class="">
        <h3>Employee List</h3>
        <h4>Selected Employees - @SelectedEmployeeCount</h4>
        <a href="@("/AddNewEmployee")" class="btn btn-outline-dark btn-sm float-right">Add New Employee</a>
    </div>
</div>


@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        <div class="container">
            <div class="row">
                @foreach (var employee in Employees)
                {
                    <DisplayEmployee Employee="employee" OnCheckboxChanged="OnCheckbox_Changed"></DisplayEmployee>
                }
            </div>
        </div>
    </div>
}
